/* Estilos globales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
html {
    scroll-behavior: smooth;
}

/*1parte*/
#inicio {
    background: linear-gradient( rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url("../IMAGEN/Imagen1.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

#inicio .contenido header {
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}

#inicio .contenido header .contenido-header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#inicio .contenido header .contenido-header h1 {
    text-align: center;
    color: #d11a1a;
}

#inicio .contenido header .contenido-header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

#inicio .contenido header .contenido-header nav ul li a {
    text-decoration: none;
    color: #fff;
    margin: 0 12px;
    font-weight: 400;
    transition: .5s;
}

#inicio .contenido header .contenido-header nav ul li a:hover {
    color: #d11a1a;
}

#inicio .contenido header .contenido-header .redes a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin-left: 10px;
    transition: .5s;
}

#inicio .contenido header .contenido-header .redes a:hover {
    color: #d11a1a;
}

#inicio .contenido header .contenido-header .seleccionado {
    color: #d11a1a;
}

#inicio .contenido .presentacion {
    max-width: 1100px;
    height: 100vh;
    margin: auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#inicio .contenido .presentacion .bienvenida {
    font-size: 16px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

#inicio .contenido .presentacion h2 {
    font-size: 55px;
    margin-bottom: 25px;
    text-align: center;
}

#inicio .contenido .presentacion h2 span {
    font-size: 25px;
    color: #d11a1a;
}

#inicio .contenido .presentacion .descripcion {
    max-width: 700px;
    margin: 25px auto;
    font-size: 18px;
    text-align: center;
}

#inicio .contenido .presentacion a {
    text-decoration: none;
    display: inline-block;
    margin: 25px;
    padding: 20px 25px;
    border: 2px solid #fff;
    border-radius: 50px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    transition: .5s;
}

#inicio .contenido .presentacion a:hover {
    background-color: #d11a1a;
}

#icono-nav {
    color: #fff;
    display: none;
}

/*2parte - Usando Grid */
#sobremi {
    display: grid; /* Usamos Grid para organizar la sección */
    grid-template-columns: 1fr 2fr; /* Dos columnas: 1 parte para la imagen, 2 partes para el contenido */
    gap: 20px; /* Espacio entre columnas */
    max-width: 1100px;
    margin: auto;
    padding: 100px 15px;
    color: #111135;
}
#sobremi .contenedor-foto {
    max-width: 400px;
}
#sobremi .contenedor-foto img {
    width: 100%;
    border-radius: 20px;
    background-color: #f3f3f3;
}
#sobremi .sobremi {
    display: flex; /* Usamos Flexbox dentro de Grid para ajustar el contenido interno */
    flex-direction: column;
    justify-content: center;
}
#sobremi .sobremi .titulo-seccion {
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}
#sobremi .sobremi h2 {
    font-size: 34px;
    font-weight: bold;
    margin: 20px 0;
    letter-spacing: 2px;
}
#sobremi .sobremi h2 span {
    color: #d11a1a;
}
#sobremi .sobremi h3 {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1px;
}
#sobremi .sobremi p {
    font-size: 18px; /* Ajustado para consistencia */
    line-height: 25px;
    color: #565656;
    margin-bottom: 12px;
}
#sobremi .sobremi a {
    display: inline-block;
    text-decoration: none;
    color: #000;
    border-radius: 30px;
    border: 1px solid #000;
    padding: 10px 20px;
    margin-top: 30px;
    transition: 0.5s;
}
#sobremi .sobremi a:hover {
    background-color: #d11a1a;
    color: #fff;
}

/*Hbailidades*/
.contenedor-skills {
    background: linear-gradient( #d11a1a, rgba(33, 16, 16, 0.8)), url("img/fondo-skills.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    background-position: center center;
    padding: 100px 0;
    text-align: center;
}
.contenedor-skills .skill {
    max-width: 600px;
    margin: 30px auto;
}
.contenedor-skills .skill .info {
    display: flex;
    justify-content: space-between;
}
.contenedor-skills .skill .lista {
    display: inline-block;
    margin-right: 20px;
    height: 10px;
    width: 10px;
    background-color: #fff;
}
.contenedor-skills .skill .barra {
    background-color: #919191;
    width: 100%;
    height: 6px;
    margin: 10px 0px;
}
.contenedor-skills .skill .barra .barra-progreso1 {
    background-color: #fff;
    width: 95%;
    height: 6px;
    animation: progreso1 2s forwards;
}

.contenedor-skills .skill .barra .barra-progreso2 {
    background-color: #fff;
    width: 90%;
    height: 6px;
    animation: progreso2 2s forwards;
}
.contenedor-skills .skill .barra .barra-progreso3 {
    background-color: #fff;
    width: 90%;
    height: 6px;
    animation: progreso3 2s forwards;
}
.contenedor-skills .skill .barra .barra-progreso4 {
    background-color: #fff;
    width: 85%;
    height: 6px;
    animation: progreso4 2s forwards; /*2S TIEMPO EN COMPLETARSE - FORWARDS INDICADOR FINAL*/
}
@keyframes progreso1 {
    0% {
        width: 0; /* La barra de progreso empieza con un ancho de 0 */
    }
    100% {
        width: 95%; /* Al final de la animación, la barra tiene un ancho del 95% */
    }
}
@keyframes progreso2 {
    0% {
        width: 0;
    }
    100% {
        width: 90%;
    }
}
@keyframes progreso3 {
    0% {
        width: 0;
    }
    100% {
        width: 90%;
    }
}
@keyframes progreso4 {
    0% {
        width: 0;
    }
    100% {
        width: 85%;
    }
}

/*hobbies*/
#portfolio {
    max-width: 1100px;
    padding: 100px 0;
    margin: auto;
}
#portfolio .titulo-seccion {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}
#portfolio .fila {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Ajusta el tamaño mínimo y máximo de los cuadros */
    gap: 20px; /* Espacio entre los cuadros */
}
#portfolio .fila .proyecto {
    border: 1px solid #000;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s; /* Añade un pequeño efecto de zoom */
}
#portfolio .fila .proyecto img {
    width: 100%;
    height: 100%;
    ;
    filter: grayscale(1);
    object-fit: cover;
    transition: .5s;
}
#portfolio .fila .proyecto:hover img {
    filter: grayscale(0);
}
#portfolio .fila .proyecto .info {
    position: absolute;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #d11a1a;
    width: 100%;
    padding: 10px;
    opacity: 0;
    bottom: -40px;
    transition: .5s;
}
#portfolio .fila .proyecto:hover .info {
    opacity: 1;
    bottom: 0;
}